ul li {
	background-image: url("../../images/main/bullet.png");
}

.meeting_point_official_results .show {
	background-image: url("../../images/main/down_arrow.png");	
}

.meeting_point_official_results .hide {
	background-image: url("../../images/main/up_arrow.png");
}

#faq-box .open {
	background-image: url("../../images/main/down_arrow.png");
}

#faq-box .close {
	background-image: url("../../images/main/up_arrow.png");
}

.button {	
	background-color: #FDD60F;
}

.button:hover {
	background-color: #FCBD0F;
}

#menu ul li:hover {
	border-bottom: 6px solid #FDD60F;	
}

#menu ul li.current{
	border-bottom: 6px solid #FDD60F;
}

#logo {
	background-color: #FDD60F;
}

#current_meeting_points {
	background-color: #FEEF9F;	
}

.meeting_point_results {
    border: 1px solid #FCBD0F;
    background-color: #FDD60F;
}

.meeting_point_vote_text {
	background-color: #FCBD0F;
}

.date {
	background-color: #FDD60F;
}

.last_meeting_block {
	background-color: #FFF7CF;
}

.meeting-name {	
	border-bottom: 2px solid #FDD60F;
}

.meeting-name:hover {
	border-bottom: 2px solid #FCBD0F;
}

.meeting-name:hover .date {
	background-color: #FCBD0F;
}

.party-name {
	border-bottom: 2px solid #FDD60F;
}

.image {
	background-color: #FDD60F;
}

.box-a {
	background-color: #FEEF9F;
}

.box-b {
	background-color: #FFF7CF;	
}

#subjects-relevant-list h2 {
	background-color: #FDD60F;
}

#meetings_box #subjects-list {
	background-color: #FEEF9F;
}

.sessions {
	background-color: #FDD60F;	
	color: #333333;
	border-bottom: 5px solid #FCBD0F;
}

.meeting_point_area {
	background-color: #FEEF9F;
}

.meeting_point_official_results {
	background-color: #FFF7CF;
}

.meeting_point_official_results:hover {
	background-color: #FFFAE5;
}

h3{
	border-bottom: 6px solid #FEEF9F;
}

.meeting_point_area_buttons {
	background-color: #FEEF9F;
	border-top: 1px dotted #FDD60F;
}

.user_comment {		
	border-bottom: 1px solid #FEEF9F;	
}

.user_comment_info {
	background-color: #FFF7CF;
}

.party_info_block {
    background-color: #FFF7CF;
}

#pagebrowser {
	border: 1px solid #FDD60F;
	background-color: #FFF7CF;
}

#pagebrowser a {
	border: 1px solid #FDD60F;
	background-color: #FDD60F;
}

#pagebrowser a:hover {
	background-color: #FCBD0F;
}

#pagebrowser .currentStep {
	border: 1px solid #FDD60F;	
}

.read-more a, .read-less a{
	border: 1px solid #FDD60F;
	background-color: #FFF7CF;
}

.read-more a:hover, .read-less a:hover {
	background-color: #FFFAE5;
}

.affinities, .partyaffinity {
	background-color: #FFF7CF;
}

.affinities .selected, .partyaffinity .selected {
	background: #FDD60F;
}

.affinities_home {	
	background-color: #FEEF9F !important;
}

#related {
	background-color:#FFFAE5;
	border:1px solid #FDD60F;	
}

.graph {
	border: 5px solid #FDD60F;
}